[submodule "wkentaro_com/static/resource/bootstrap"]
	path = wkentaro_com/static/resource/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "wkentaro_com/static/resource/Font-Awesome"]
	path = wkentaro_com/static/resource/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "wkentaro_com/static/resource/CV"]
	path = wkentaro_com/static/resource/CV
	url = https://github.com/wkentaro/CV.git
[submodule "wkentaro_com/static/resource/github-colors"]
	path = wkentaro_com/static/resource/github-colors
	url = https://github.com/ozh/github-colors.git
