<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/icra2019/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Joint Learning of Instance and Semantic Segmentation for Robotic Pick-and-Place with Heavy Occlusions in Clutter</b></li>
        <li><i><u>Kentaro Wada</u>, Kei Okada, Masayuki Inaba</i></li>
        <li>International Conference on Robotics and Automation (ICRA), 2019</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1P1zxUc6asrhhhQ8e-gCZsRh_cRd3dt9E">Paper</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1P1D4TBseSxIgES53_idr7lF6Uh3yijVe">Video</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/icra2019_hasegawa/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Collaborative Grasp: Realizing Complex Motion by Learning and Fusing Grasp Modalities with Instance Segmentation</b></li>
        <li><i>Shun Hasegawa*, <u>Kentaro Wada*</u>, Shingo Kitagawa, Yuto Uchimi, Kei Okada, Masayuki Inaba <small>(*equal contribution)</small></i></li>
        <li>International Conference on Robotics and Automation (ICRA), 2019</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1P3i0Yo6XFZ_Q97Vy_yjoXsrqZW497-f6">Paper</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=198Frz6e92ek5n7yt1EqrR_aoMjf_gIpT">Video</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/iros2018/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Instance Segmentation of Visible and Occluded Regions for Finding and Picking Target from a Pile of Objects</b></h4>
        <li><i><u>Kentaro Wada</u>, Shingo Kitagawa, Kei Okada, Masayuki Inaba</i></li>
        <li>International Conference on Robotics and Inteligent Systems (IROS), 2018</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1cUFCXTekorW8uCx54-QrGuOli5NM5udR">Paper</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1dXdvWw5mMjpGGuNVTQ9_RRoyIsdmcZrL">Video</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=16M2gwKRVdCEt4T5m3qZIFLc55N8L4PfE">Slides</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/iros2018_hasegawa/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Detecting and Picking of Folded Objects with a Multiple Sensor Integrated Robot Hand</b></h4>
        <li><i>Shun Hasegawa, <u>Kentaro Wada</u>, Shingo Kitagawa, Kei Okada, Masayuki Inaba</i></li>
        <li>International Conference on Robotics and Inteligent Systems (IROS), 2018</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=197v2odJUntW5DuZXGejp9A3Xr44nMcI5">Paper</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=198Frz6e92ek5n7yt1EqrR_aoMjf_gIpT">Video</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/iros2018_kitagawa/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Multi-stage Learning of Selective Dual-arm Grasping Based on Obtaining and Pruning Grasping Points Through the Robot Experience in the Real World</b></h4>
        <li><i>Shingo Kitagawa, <u>Kentaro Wada</u>, Shun Hasegawa, Kei Okada, Masayuki Inaba</i></li>
        <li>International Conference on Robotics and Inteligent Systems (IROS), 2018</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=19DpnDg6DjBXUzazwpWZ1ZpQ_zdxiKhO4">Paper</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=19badNc9krmmVlmsmsfHI2M3eob2QHq_Q">Video</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/ias2018_kitagawa/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Learning-Based Task Failure Prediction for Selective Dual-Arm Manipulation in Warehouse Stowing</b></h4>
        <li><i>Shingo Kitagawa, <u>Kentaro Wada</u>, Kei Okada, Masayuki Inaba</i></li>
        <li>International Conference on Intelligent Autonomous Systems (IAS), 2018</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1VNTYn9gXwI0LZzURvZVGYuubeuRkGfG0">Paper</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/iros2017/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Probabilistic 3D Multilabel Real-time Mapping for Multi-object Manipulation</b></h4>
        <li><i><u>Kentaro Wada</u>, Shun Hasegawa, Kei Okada, Masayuki Inaba</i></li>
        <li>International Conference on Robotics and Inteligent Systems (IROS), 2017</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1frqieyHiQBqpr1e9mWPrzfaX8FbpLcuX">Paper</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1nUFB1_jHLomxAEhlWsgaMRkdGycB5Dhk">Video</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1c5W-nUooUo_9hMT0ei-34t3_lOhA3lZs">Slides</a></li>
            <li class="list-inline-item"><a href="https://github.com/wkentaro/label_octomap">Code</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/iros2017_hasegawa/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>A Three-Fingered Hand with a Suction Gripping System for Picking Various Objects in Cluttered Narrow Space</b></h4>
        <li><i>Shun Hasegawa, <u>Kentaro Wada</u>, Kei Okada, Masayuki Inaba</i></li>
        <li>International Conference on Robotics and Inteligent Systems (IROS), 2017</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1JK_o178iRMlQUQQgIlBLlltsj7cwMDeE">Paper</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1JPzAq4B47cjH35bhAjGRFMXyUN7voO4o">Video</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/advanced_robotics2016/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Pick-and-Verify: Verification-based Highly Reliable Picking System for Various Target Objects in
Clutter</b></h4>
        <li><i><u>Kentaro Wada</u>, Makoto Sugiura, Iori Yanokura, Yuto Inagaki, Kei Okada, Masayuki Inaba</i></li>
        <li>Journal of Advanced Robotics, 2017</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://www.tandfonline.com/doi/abs/10.1080/01691864.2016.1269672?journalCode=tadr20">Paper</a></li>
            <li class="list-inline-item"><a href="https://www.tandfonline.com/doi/suppl/10.1080/01691864.2016.1269672?scroll=top">Video</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/humanoids2016/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>3D Object Segmentation for Shelf Bin Picking by Humanoid with Deep Learning and Occupancy Voxel Grid Map</b></h4>
        <li><i><u>Kentaro Wada</u>, Masaki Murooka, Kei Okada, Masayuki Inaba</i></li>
        <li>International Conference on Humanoid Robotics (Humanoids), 2016</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vX2o0bkFSaUw1ODA">Paper</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=19YwO1LXAcRCfS8rAM5paxc2SEzGE3odA">Video</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vWDNEVm5hZF9CUDA">Slides</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vWDlzMDRNbVpfelE">Poster</a></li>
            <li class="list-inline-item"><a href="https://github.com/wkentaro/hrp2_apc">Code</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/humanoids2016_furuta/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Transformable Semantic Map Based Navigation using Autonomous Deep Learning Object Segmentation</b></h4>
        <li><i>Yuki Furuta, <u>Kentaro Wada</u>, Masaki Murooka, Shunichi Nozawa, Yohei Kakiuchi, Kei Okada, Masayuki Inaba</i></li>
        <li>International Conference on Humanoid Robotics (Humanoids), 2016</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1Ne9mifgAvy53YH2D5oU4AMDp_rLtbP90">Paper</a></li>
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=1ljJQ4SUjkNT1S1GWb4h7h__zbStz3oOo">Video</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
