{% for paper in papers %}
<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/%s/thumbnail.jpg' % paper['id']) }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>{{ paper['title'] }}</b></li>
        <li>
          <i>
            {% for author in paper['authors'] %}
            {% if author.startswith('Kentaro Wada') %}<u>{{ author }}</u>{% else %}{{ author }}{% endif %}{% if loop.index != paper['authors']|length %},{% endif %}
            {% endfor %}
          </i>
        </li>
        <li>{{ paper['publisher'] }}, {{ paper['year'] }}</li>
        <li>
          <ul class="list-inline mt-2">
            {% for entry in paper['entries'] %}
            <li class="list-inline-item"><a href="{{ entry['url'] }}">{{ entry['text'] }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endfor %}
