<script>
  // read-only for public information
  GITHUB_TOKEN = "e44b46ec9d212f54bb58fdc6ab70d4187edbc73b";

  function getLanguageColor(language) {
    var colors = {};
    {% for language, color in colors.items() %}
    colors['{{ language }}'] = "{{ color['color'] }}";
    {% endfor %}
    return colors[language];
  }
  function getMyContributions(owner, repo) {
    var url = 'https://api.github.com/repos/' + owner + '/' + repo + '/stats/contributors';
    $.ajax({
      url : url,
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Authorization", "token " + GITHUB_TOKEN);
      },
      type : 'GET',
      dataType : 'json',
      success : function(data) {
        var elem = $('#' + owner + '-' + repo);
        for (let datum of data) {
          if (datum['author']['login'] == 'wkentaro') {
            elem.find('.card-footer .my-contributions span.number').text(datum['total']);
            break;
          }
        }
      }
    });
  }
  function getRepositoryData(owner, repo) {
    var url = 'https://api.github.com/repos/' + owner + '/' + repo;
    $.ajax({
      url : url,
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Authorization", "token " + GITHUB_TOKEN);
      },
      type : 'GET',
      dataType : 'json',
      success : function(data) {
        var elem = $('#' + owner + '-' + repo);
        if (data.description) {
          elem.find('.description p:first').text(data.description);
        }
        elem.find('.card-footer .language span.name').text(data.language);
        elem.find('.card-footer .language svg').attr('style', 'color: ' + getLanguageColor(data.language) + ';');
        elem.find('.card-footer .stargazers span.number').text(data.stargazers_count);
        elem.find('.card-footer .forks span.number').text(data.forks);
      }
    });
  }
  function getAllRepositoryData() {
    {% for group in repositories %}
    {% for slug in group['repos'] %}
    {% set owner_repo = slug.split('/') %}
    getRepositoryData('{{ owner_repo[0] }}', '{{ owner_repo[1] }}');
    getMyContributions('{{ owner_repo[0] }}', '{{ owner_repo[1] }}');
    {% endfor %}
    {% endfor %}
  }
  getAllRepositoryData();
</script>

{% for group in repositories %}
<h3>{{ group['title'] }}</h3>
<div class="row">
{% for slug in group['repos'] %}
{% set owner, repo = slug.split('/') %}
<div class="col-md-4 mb-2">
  <div class="card card-default h-100" id="{{ owner + '-' + repo }}">
    <div class="card-body pb-0">
      <a href="https://github.com/{{ slug }}" class="text-bold">
        {{ slug }}
      </a>
      <div class="description">
        <p class="text-small"></p>
      </div>
    </div>
    <div class="card-footer text-small bg-white">
      <ul class="list-inline" style="margin: 0;">
        <li class="list-inline-item language">
          <i class="fas fa-circle"></i>
          <span class="name"></span>
        </li>
        <li class="list-inline-item stargazers">
          <a href="https://github.com/{{ slug }}/stargazers">
            <i class="fas fa-star"></i>
            <span class="number"></span>
          </a>
        </li>
        <li class="list-inline-item forks">
          <a href="https://github.com/{{ slug }}/network">
            <i class="fas fa-code-branch"></i>
            <span class="number"></span>
          </a>
        </li>
        <li class="list-inline-item my-contributions">
          <a href="https://github.com/{{ slug }}/commits?author=wkentaro">
            <i class="fas fa-code"></i>
            <span class="number"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endfor %}
