<li><b>Jan 2022</b>: Two papers were accepted to ICRA 2022!</li>
<li><b>Oct 2020</b>: A paper was accepted to 3DV 2020!</li>
<li><b>Jun 2020</b>: Presented a paper at CVPR 2020!</li>
<li><b>Feb 2020</b>: A paper was accepted to CVPR 2020!</li>
<li><b>May 2019</b>: Presented two papers at ICRA 2019 in Montreal, Canada!</li>
<li><b>Feb 2019</b>: Participated RVSS2019 summer school in Canberra, Australia!</li>
<li><b>Jan 2019</b>: Two papers were accepted to ICRA 2019!</li>
<li><b>Oct 2018</b>: Joined Dyson Robotics Laboratory to start his PhD program!</li>
<li><b>Sep 2018</b>: Presented three papers at IROS 2018 in Madelaid, Spain!</li>
<li><b>Aug 2018</b>: Finished M.Sc. in Information and Technology Department at The University of Tokyo!</li>
{#
<li><b>Jun 2018</b>: Three papers were accepted to IROS2018!</li>
<li><b>Oct 2017</b>: Presented two papers at IROS2017 in Vancouver, Canada!</li>
<li><b>Jun 2017</b>: Participated Amazon Robotics Challenge 2017 at Nagoya, Japan!</li>
<li><b>Sep 2016</b>: Presented one paper at Humanoids2016 in Cancun, Mexico!</li>
<li><b>Jun 2016</b>: Participated Amazon Picking Challenge 2016 at Leipzig, Germany!</li>
<li><b>Mar 2016</b>: Finished B.Sc. in Mechano-Informatics Department at The University of Tokyo!</li>
<li><b>Jun 2015</b>: Participated Amazon Picking Challenge 2015 at Seattle, United States!</li>
#}
