{% extends "base.html" %}

{% block content %}

<h2 class="text-center">
  <small>Robocup2016</small>
  <br/>
  Team-K at Amazon Picking Challenge 2016 Final
  <br/>
  <small>
    <u>Kentaro Wada</u>, Shun Hasegawa, Shingo Kitagawa,
    <br/>
    Yusuke Niitani, Masahiro Bando, Kei Okada and Masayuki Inaba
    <br/>
    JSK Lab. The University of Tokyo
  </small>
</h2>

<ul class="list-inline text-center">
  <li><a href="https://github.com/start-jsk/jsk_apc">code</a></li>
  <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vWkRaeE9lSzhUNlU">slides</a></li>
</ul>

<div class="text-center">
  <iframe src="https://drive.google.com/file/d/0B9P1L--7Wd2vT0ZRcTlSMDFZT28/preview?autoplay=1" width="640" height="350" frameborder="0"></iframe>
</div>

<h3>Desctiption</h3>
<p class="indent-1">
  We participated to <a href="http://www.robocup2016.org/en/events/amazon-picking-challenge">Amazon Picking Challenge 2016</a>
  at Robocup2016 in Leipzig, Germany. <br/>
  And we Team-K got 5th at pick task and 8th at stow task in 16 teams.
</p>

{% endblock %}
