{% extends "base.html" %}

{% block content %}

<h2>Archived Projects</h2>

<div class="row">

  <div class="col-xs-12">

    <h3>2015</h3>

    <div id="rsj2015" class="col-xs-12">
      <h4>RSJ2015: 視覚検証と吸引グリッパを用いた双腕ロボットによる日用品ピッキングシステム (2014.10 - 2015.05)</h4>
      <div class="col-xs-3">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='projects/rsj2015/thumbnail.jpg') }}">
        </a>
      </div>
      <div class="col-xs-9">
        <ul class="list-unstyled indent-1">
          <li><a href="http://github.com/start-jsk/jsk_apc" target="_blank" />Code</a></li>
          <li><a href="https://drive.google.com/file/d/0B9P1L--7Wd2vVUdsNGdpUmcwc2c/view">Paper (in Japanese)</a></li>
          <li><a href="https://drive.google.com/file/d/0B9P1L--7Wd2vUm5tMlVVd25QaDA/view">Slides (in Japanese)</a></li>
        </ul>
      </div>
    </div>

    <div id="apc2015" class="col-xs-12">
      <h4>Amazon Picking Challenge 2015 at ICRA2015 in Seattle, US. (2014.10 - 2015.05)</h4>
      <div class="col-xs-4">
        <a href="http://amazonpickingchallenge.org" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename="projects/apc2015/thumbnail.jpg") }}" />
        </a>
      </div>
      <div class="col-xs-8">
        <p>
          Our team Team-K got 8th grade.
        </p>
        <ul class="list-unstyled indent-1">
          <li><a href="http://github.com/start-jsk/jsk_apc" target="_blank" />Code</a></li>
          <li><a href="https://www.youtube.com/watch?v=VvnHMvnQsCM" target="_blank">Video for Description</a></li>
          <li><a href="https://www.youtube.com/watch?v=OYjK5J__uDI" target="_blank">Video of Team Highlights (See 3:30 - 4:20)</a></li>
        </ul>
      </div>
    </div>

    <h3>2014</h3>

    <div id="tanaka_lab2014" class="col-xs-12">
      <h4>Data scientist at Tanaka Lab. (2014.05 - 2015.03)</h4>
      <div class="col-xs-4">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='projects/tanaka_lab2014/thumbnail.jpg') }}">
        </a>
      </div>
      <div class="col-xs-8">
        <p>
          I worked as a data scientist for an e-commerce site in Japan.
          By analyzing customers' purchase history and trend, suppose some marketing strategies and new function of the web site.
        </p>
        <ul class="list-unstyled indent-1">
          <li>
            <a href="https://drive.google.com/file/d/0B9P1L--7Wd2vcjZrbmd1YzMzVjQ/view">Paper</a>
          </li>
        </ul>
      </div>
    </div>

    <div id="amazon_ar" class="col-xs-12">
      <h4>Amazon - AR (2014.12)</h4>
      <div class="col-xs-6">
        <a href="http://amazon-ar.herokuapp.com" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename="img/landing_amazon_ar.png") }}" />
        </a>
      </div>
      <div clss="col-xs-6">
        <p>
          <a href="http://amazon-ar.herokuapp.com" target="_blank">Amazon - AR</a>
          is a website in which you can experience 3D item view of item you want to buy.
        </p>
        <ul class="list-unstyled indent-1">
          <li><a href="https://github.com/wk-jphacks/amazon-ar" target="_blank">Code</a></li>
          <li><a href="{{ url_for('static', filename='projects/amazon_ar/screenshot_1.jpg') }}">Screenshot 1</a></li>
          <li><a href="{{ url_for('static', filename='projects/amazon_ar/screenshot_2.jpg') }}">Screenshot 2</a></li>
        </ul>
      </div>
    </div>

    <h3>2013</h3>

    <div id="logcal" class="col-xs-12">
      <h4>LogCal (2013.09)</h4>
      <div class="col-xs-4">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='img/logcal.png') }}" />
        </a>
      </div>
      <div class="col-xs-8">
        <p>
          LogCal calcurates the sum of your events time.
          You can find out how long you spent time on each events.
        </p>
        <ul class="list-inline indent-1">
          <li><a href="https://github.com/wkentaro/logcal" target="_blank">Code</a></li>
        </ul>
      </div>
    </div>

    <div id="ut_komaba" class="col-xs-12">
      <h4>UT Komaba (2013.08)</h4>
      <div class="col-xs-4">
        <a href="http://ut-komaba.appspot.com" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename='img/utkomaba.png') }}" />
        </a>
      </div>
      <div class="col-xs-8">
        <p><a href="http://ut-komaba.appspot.com" target="_blank">UT Komaba</a> is distributing information about The University of Tokyo on Komaba Campus.</p>
        <ul class="list-unstyled indent-1">
          <li><a href="https://twitter.com/ut_kyomu" target="_blank">@ut_kyomu</a></li>
          <li><a href="https://twitter.com/ut_kyuko" target="_blank">@ut_kyuko</a></li>
          <li><a href="https://twitter.com/ut_kyoshitsu" target="_blank">@ut_kyoshitsu</a></li>
        </ul>
      </div>
    </div>

    <div id="gcp4" class="col-xs-12">
      <h4>GCP4 (2013.02)</h4>
      <p class="indent-1">
        GCP4 means "Global Challenge Program 4th", and the destination was Bangalore, India. In this program I learned about global bussiness from speakers, visited companies in Bangalore, did internship, and proceed a project. The content of the project was marketing a Japanese Fashion magazine in India, and looking for some business partner in India. Our team researched the market (especially interviewed local people), and visited lots of publishing companies. Finally, we listed up some candidates and submitted reports to the publisher who publishes the fashion magazine.
      </p>
    </div>

    <h3>2012</h3>

    <div id="utgym" class="col-xs-12">
      <h4>UT Startup Gym (2012.09 - 2013.01)</h4>
      <div class="col-xs-4">
        <a href="http://ut-gym.jp/" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename='img/utgym.png') }}" />
        </a>
      </div>
      <div class="col-xs-8">
        <p>
          In workshops held by <a href="http://ut-gym.jp" target="_blank">UT Startup Gym</a>,
          participants learn programming from the basics.
          Then they will do some projects which creates web services.
        </p>
      </div>
    </div>

  </div>

</div>  <!-- .row -->

{% endblock %}
