{% extends "base.html" %}

{% block content %}

<h2>Previous Projects</h2>

<div class="row">

  <div class="col-sm-12">

    <h3>2016</h3>

    <div id="hrp2_apc" class="col-sm-12">
      <h4><a href="http://www.humanoids2016.org">Humanoids2016</a>: <a href="/projects/hrp2_apc">3D Object Segmentation for Shelf Bin Picking by Humanoid with Deep Learning and Occupancy Voxel Grid Map</a> (2016.07 - 2016.11)</h4>
      <div class="col-sm-5">
        <a href="/projects/hrp2_apc" class="thumbnail">
          <img src="{{ url_for('static', filename="projects/hrp2_apc/thumbnail.png") }}" />
        </a>
      </div>
      <div class="col-sm-7">
        <ul>
          <li><u>Kentaro Wada</u>, Masaki Murooka, Kei Okada and Masayuki Inaba</li>
          <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vX2o0bkFSaUw1ODA">Paper</a></li>
          <li><a href="{{ url_for('static', filename="projects/hrp2_apc/bib.txt") }}">Bibtex</a></li>
          <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vWDNEVm5hZF9CUDA">Slides</a></li>
          <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vWDlzMDRNbVpfelE">Poster</a></li>
          <li><a href="https://github.com/wkentaro/hrp2_apc">Code</a></li>
        </ul>
      </div>
    </div>

    <div id="jsk_semantics_201607" class="col-sm-12">
      <h4><a href="http://www.humanoids2016.org">Humanoids2016</a>: <a href="/projects/jsk_semantics_201607">Transformable Semantic Map Based Navigation using Autonomous Deep Learning Object Segmentation</a> (2016.07)</h4>
      <div class="col-sm-5">
        <a href="/projects/jsk_semantics_201607" class="thumbnail">
          <img src="{{ url_for('static', filename="projects/jsk_semantics_201607/thumbnail.png") }}" />
        </a>
      </div>
      <div class="col-sm-7">
        <ul>
          <li>Yuki Furuta, <u>Kentaro Wada</u>, Masaki Murooka, Shunichi Nozawa, Yohei Kakiuchi, Kei Okada and Masayuki Inaba</li>
          <li><a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=7803338">Paper</a></li>
          <li><a href="{{ url_for('static', filename="projects/jsk_semantics_201607/bib.txt") }}">Bibtex</a></li>
          <li><a href="https://github.com/furushchev/jsk_semantics_201607">Code</a></li>
        </ul>
      </div>
    </div>

    <div id="robomech2016" class="col-sm-12">
      <h4><a href="http://www.tandfonline.com/toc/tadr20">Advanced Robotics Journal</a>: Pick-and-Verify: Verification-based Highly Reliable Picking System for Various Target Objects in Clutter (2015.04 - 2016.02)</h4>
      <div class="col-sm-5">
        <a href="http://www.tandfonline.com/doi/full/10.1080/01691864.2016.1269672" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename="projects/ar2016/thumbnail.jpg") }}" />
        </a>
      </div>
      <div class="col-sm-7">
        <ul>
          <li><u>Kentaro Wada</u>, Makoto Sugiura, Iori Yanokura, Yuto Inagaki, Kei Okada and Masayuki Inaba</li>
          <li><a href="http://www.tandfonline.com/doi/full/10.1080/01691864.2016.1269672">Paper</a></li>
        </ul>
      </div>
    </div>

    <div id="niitani_rsj2016" class="col-sm-12">
      <h4><a href="http://rsj2016.rsj-web.org">RSJ2016</a>: 物品棚のピッキング作業のための 深層学習でのセマンティック画像分割と三次元物品輪郭抽出 (2016.04 - 2016.07)</h4>
      <div class="col-sm-5">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename="projects/niitani_rsj2016/thumbnail.png") }}">
        </a>
      </div>
      <div class="col-sm-7">
        <ul>
          <li>Yusuke Niitani, <u>Kentaro Wada</u>, Shun Hasegawa, Shingo Kitagawa, Masahiro Bando, Kei Okada, and Masayuki Inaba</li>
          <li><a href="http://github.com/start-jsk/jsk_apc">Code (system)</a></li>
          <li><a href="http://github.com/wkentaro/fcn">Code (fcn)</a></li>
          <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vWHlWcFhfdVVhUGc">Paper (in Japanese)</a></li>
        </ul>
      </div>
    </div>

    <div id="apc2016" class="col-sm-12">
      <h4><a href="http://www.robocup2016.org">Robocup2016</a>: Amazon Picking Challenge 2016 at Robocup2016 in Leipzig, Gemany (2016.04 - 2016.07)</h4>
      <div class="col-sm-5">
        <a href="https://www.amazonrobotics.com/#/pickingchallenge" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename="projects/apc2016/thumbnail.jpg") }}" />
        </a>
      </div>
      <div class="col-sm-7">
        <ul>
          <li><u>Kentaro Wada</u>, Shun Hasegawa, Shingo Kitagawa, Yusuke Niitani, Masahiro Bando, Kei Okada and Masayuki Inaba</li>
          <li><a href="/projects/apc2016">Detail</a></li>
        </ul>
      </div>
    </div>

    <div id="gsoc2016" class="col-sm-12">
      <h4><a href="https://summerofcode.withgoogle.com/archive/2016/projects/">GSoC2016</a>: Reactive and Adaptive Path Planning Using Sensor Feedback and Operator Input (2016.05 - 2016.08)</h4>
      <div class="col-sm-5">
        <a href="https://github.com/wkentaro/gsoc2016" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename='projects/gsoc2016/thumbnail.jpg') }}" />
        </a>
      </div>
      <div class="col-sm-7">
        <ul>
          <li><u>Kentaro Wada</u></li>
          <li><a href="/projects/gsoc2016">Detail</a></li>
        </ul>
      </div>
    </div>

    <div id="robomech2016" class="col-sm-12">
      <h4><a href="http://robomech.org/2016/">Robomech2016</a>: Advanced Multi-layered Perception for Picking in Clutter with Parameter Reinforcement Learning via Experiment in Task (2016.03 - 2016.06)</h4>
      <div class="col-sm-5">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='projects/robomech2016/thumbnail.jpg') }}">
        </a>
      </div>
      <div class="col-sm-7">
        <ul>
          <li><u>Kentaro Wada</u>, Kei Okada and Masayuki Inaba</li>
          <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vRzdNTndMWEJPOFU" />Paper</a></li>
          <li><a href="https://drive.google.com/file/d/0B9P1L--7Wd2vRUd2dUNybnh6RXM/view">Poster</a></li>
          <li><a href="https://github.com/wkentaro/apc-od">Code (object detection)</a></li>
          <li><a href="https://github.com/start-jsk/jsk_apc">Code (overall task)</a></li>
        </ul>
      </div>
    </div>

    <div id="bthesis2016" class="col-sm-12">
      <h4>Bachelor Thesis: 検証型認識システムの経験学習による複雑環境下でのピッキング作業獲得に関する研究 (2015.04 - 2016.02)</h4>
      <div class="col-sm-5">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='projects/bthesis2016/thumbnail.jpg') }}">
        </a>
      </div>
      <div class="col-sm-7">
        <ul>
          <li>
            <u>Kentaro Wada</u>
            (Bachelor thesis at <a href="http://www.jsk.t.u-tokyo.ac.jp">JSK Lab</a> in UTokyo)
          </li>
          <li><a href="https://drive.google.com/file/d/0B9P1L--7Wd2vTTUzLXQ2WlBPZ1E/view">Abstract Paper (in Japanese)</a></li>
          <li><a href="https://drive.google.com/file/d/0B9P1L--7Wd2vYUd1eTNxelozUTA/view">Paper (in Japanese)</a></li>
          <li><a href="https://drive.google.com/file/d/0B9P1L--7Wd2vRUxjSC04OGQ2d2M/view">Slides (in Japanese)</a></li>
          <li><a href="https://github.com/wkentaro/apc-od">Code (object detection)</a></li>
          <li><a href="https://github.com/start-jsk/jsk_apc">Code (overall task)</a></li>
        </ul>
      </div>
    </div>

    <h3>2015</h3>

    <div id="rsj2015" class="col-sm-12">
      <h4><a href="http://rsj2015.rsj-web.org">RSJ2015</a>: 視覚検証と吸引グリッパを用いた双腕ロボットによる日用品ピッキングシステム (2015.07 - 2015.09)</h4>
      <div class="col-sm-5">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='projects/rsj2015/thumbnail.jpg') }}">
        </a>
      </div>
      <div class="col-sm-7">
        <ul>
          <li><u>Kentaro Wada</u>, Iori Yanokura, Makoto Sugiura, Yuto Inagaki, Kei Okada and Masayuki Inaba</li>
          <li><a href="http://github.com/start-jsk/jsk_apc" target="_blank" />Code</a></li>
          <li><a href="https://drive.google.com/file/d/0B9P1L--7Wd2vVUdsNGdpUmcwc2c/view">Paper (in Japanese)</a></li>
          <li><a href="https://drive.google.com/file/d/0B9P1L--7Wd2vUm5tMlVVd25QaDA/view">Slides (in Japanese)</a></li>
        </ul>
      </div>
    </div>

    <div id="apc2015" class="col-sm-12">
      <h4><a href="http://icra2015.org">ICRA2015</a>: Amazon Picking Challenge 2015 Final at ICRA2015 in Seattle, US (2014.10 - 2015.05)</h4>
      <div class="col-sm-5">
        <a href="http://amazonpickingchallenge.org" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename="projects/apc2015/thumbnail.jpg") }}" />
        </a>
      </div>
      <div class="col-sm-7">
        <ul>
          <li><u>Kentaro Wada</u>, Iori Yanokura, Makoto Sugiura, Yuto Inagaki, Kei Okada and Masayuki Inaba (Team-K)</li>
          <li>8th place in 28 teams</li>
          <li><a href="http://github.com/start-jsk/jsk_apc" target="_blank" />Code</a></li>
          <li><a href="https://www.youtube.com/watch?v=VvnHMvnQsCM" target="_blank">Video (challenge description)</a></li>
          <li><a href="https://www.youtube.com/watch?v=OYjK5J__uDI" target="_blank">Video (team highlights, 3:30 - 4:20 for us)</a></li>
        </ul>
      </div>
    </div>

    <div id="tanaka_lab2014" class="col-sm-12">
      <h4><a href="http://www.sigkst.org/index.php?site_id=&page=%C2%E823%B2%F3%B8%A6%B5%E6%B2%F1">SIG-KST23</a>: 販売履歴の大規模データ分析による顧客クラスタ分析 (2014.05 - 2015.03)</h4>
      <div class="col-sm-5">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='projects/tanaka_lab2014/thumbnail.jpg') }}">
        </a>
      </div>
      <div class="col-sm-7">
        <ul>
          <li><u>Kentaro Wada</u>, Kazuya Kawakami, Yusuke Honda and Kenji Tanaka</li>
          <li><a href="https://drive.google.com/file/d/0B9P1L--7Wd2vcjZrbmd1YzMzVjQ/view">Paper (in Japanese)</a></li>
        </ul>
      </div>
    </div>

    <h3>2014</h3>

    <div id="amazon_ar" class="col-sm-12">
      <h4><a href="http://jphacks.com">JPHACKS2014</a>: Amazon - AR at JPHACKS in UTokyo (2014.12)</h4>
      <div class="col-sm-5">
        <a href="http://amazon-ar.herokuapp.com" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename="projects/amazon_ar/thumbnail.jpg") }}" />
        </a>
      </div>
      <div class="col-sm-7">
        <p>
          <a href="http://amazon-ar.herokuapp.com" target="_blank">Amazon - AR</a>
          is a web service where you can experience 3D item view of item you want to buy.
        </p>
        <ul>
          <li><u>Kentaro Wada</u> and Ken Tominaga</li>
          <li><a href="https://github.com/wk-jphacks/amazon-ar" target="_blank">Code</a></li>
        </ul>
      </div>
    </div>

    <div id="logcal" class="col-sm-12">
      <h4>Personal Project: LogCal (2013.09 - 2014.03)</h4>
      <div class="col-sm-5">
        <a href="#" class="thumbnail">
          <img src="{{ url_for('static', filename='img/logcal.png') }}" />
        </a>
      </div>
      <div class="col-sm-7">
        <p>
          LogCal calcurates the sum of your events time.
          You can find out how long you spent time on each events.
        </p>
        <ul>
          <li><u>Kentaro Wada</u></li>
          <li><a href="https://github.com/wkentaro/logcal" target="_blank">Code</a></li>
        </ul>
      </div>
    </div>

    <div id="ut_komaba" class="col-sm-12">
      <h4>Personal Project: UT Komaba (2013.08 - 2014.03)</h4>
      <div class="col-sm-5">
        <a href="http://ut-komaba.appspot.com" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename='img/utkomaba.png') }}" />
        </a>
      </div>
      <div class="col-sm-7">
        <p>
          <a href="http://ut-komaba.appspot.com" target="_blank">UT Komaba</a>
          is distributing information about The University of Tokyo on Komaba Campus.
        </p>
        <ul>
          <li><u>Kentaro Wada</u></li>
        </ul>
      </div>
    </div>

    <h3>2013</h3>

    <div id="gcp4" class="col-sm-12">
      <h4>Global Challenge Program 4th (2013.02)</h4>
      <p class="indent-1">
        In this program named GCP4, the destination was Bangalore, India. In this program I learned about global bussiness from speakers, visited companies in Bangalore, did internship, and proceed a project. The content of the project was marketing a Japanese Fashion magazine in India, and looking for some business partner in India. Our team researched the market (especially interviewed local people), and visited lots of publishing companies. Finally, we listed up some candidates and submitted reports to the publisher who publishes the fashion magazine.
      </p>
    </div>

    <div id="utgym2013" class="col-sm-12">
      <h4>UT Startup Gym in UTokyo (2012.09 - 2013.01)</h4>
      <div class="col-sm-5">
        <a href="http://ut-gym.jp" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename='projects/utgym2013/thumbnail.png') }}" />
        </a>
      </div>
      <div class="col-sm-7">
        <p>
          In workshops held by <a href="http://ut-gym.jp" target="_blank">UT Startup Gym</a>,
          participants learn programming from the basics.
          Then they will do some projects which creates web services.
        </p>
      </div>
    </div>

  </div>

</div>  <!-- .row -->

{% endblock %}
