{% extends "base.html" %}

{% block content %}

<h2 class="text-center">
  Gotenshita at UTokyo
  <br/>
  <small>
    <u>Kentaro Wada</u>,
    <a href="http://github.com/wkentaro/gotenshita"/>http://github.com/wkentaro/gotenshita</a>
  </small>
</h2>

<h3 class="text-center">Open Status of Court A ({{ now.strftime('%Y-%m-%d %H:%M') }})</h3>
<table class="table">
{% for period, open_status in info %}
{% if open_status['a'] %}
<tr class="success">
{% else %}
<tr>
{% endif %}
  <th>{{ period[0] }} - {{ period[1] }}</th>
  <td>{% if open_status['a'] %}Open{% else %}Close{% endif %}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
