{% extends "base.html" %}

{% block content %}

<h2 class="text-center">
  <small>Google Summer of Code 2016</small>
  <br/>
  Reactive and Adaptive Path Planning
  <br/>
  Using Sensor Feedback and Operator Input
  <br/>
  <small><u>Kentaro Wada</u></small>
</h2>

<ul class="list-inline text-center">
  <li><a href="https://github.com/wkentaro/gsoc2016">Code</a></li>
</ul>

<p class="text-right">Last Edit: 2016-08-22 14:07:51</p>

<div class="pl-1">
  <h3 id="basic_info"><a href="#basic_info">Basic Information</a></h3>
  <ul>
    <li>Student Name: Kentaro Wada (www.kentaro.wada@gmail.com)</li>
    <li>Project Page: <a href="https://summerofcode.withgoogle.com/organizations/6574802710036480/#5570300158672896">here</a></li>
    <li>Title: "Reactive and Adaptive Path Planning Using Sensor Feedback and Operator Input"</li>
    <li>Mentors: Shaun Edwards (shaunedwards@gmail.com), Fred Proctor</li>
    <li>Organization: Open Source Robotics Foundation</li>
  </ul>
</div>

<div class="pl-1">
  <h3 id="project_details"><a href="#project_details">Project Details</a></h3>
  <p class="pl-1">
    Reactive and adaptive planning is necessary in situations with unknown environment, few sensors and many occlusions.
    Reactiveness is the mechanism to avoid collision and adaptiveness is one to complete the task.
    The inputs to achieve these mechanisms are sensor inputs and user operations.
    Based on these prerequisites, I created a system for reactive and adaptive planning as shown in below:
  </p>
  <div class="row">
    <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3">
      <img class="img-fluid" src="https://github.com/wkentaro-archive/gsoc2016/raw/master/img/system_figure.png" />
    </div>
  </div>
  <p class="pl-1">
    The part of the system consists of a simulator, but the component, Simulator, can be replaced by the real robot.
    The inputs are provided the simulated sensor and a user in the system.
    Using these inputs, the two mechanism are achieved with <b>Stop execution</b> and <b>Re-planning</b>:
    the former is a function for reactiveness and the latter is one for adaptiveness.
    As a reactiveness, the system needs to stop the joint trajectory execution of the robot to avoid collision in an environment,
    and as a adaptiveness the system needs to re-plan the joint trajectory to complete the task based on the information at stopping execution.
  </p>
  <p class="pl-1">
    In this project I worked for the two functions, stop execution and re-planning, and also the required components in the above system.
    The sections afterward describes about the complete/incomplete things of this project, and the prefix in the title (eg. [Reactive], [Simulator])
    represents what are the changes for.
  </p>
</div>

<div class="pl-1">
  <h3 id="complete_things"><a href="#complete_things">Complete Things: Merged PRs and Fixed Issues</a></h3>
  <p class="pl-1">
    This section provides the completed PRs/Issues in this GSoC project.
    Some of them are not completed by alone myself, and completed by the cooperation with maintainers of other open source projects.
  </p>
  <ul>
    <li>
      <div class="pl-1" id="stop_execution">
        <h4>[Reactive] Stop execution on motion planning rviz plugin: <a href="https://github.com/ros-planning/moveit_ros/pull/709">ros-planning/moveit_ros#709</a></h4>
        <p>
          This function is required to stop trajectory execution by operator inputs, and for the reactiveness in the system.
          I created a GUI to achieve this function and sent PR to <a href="https://github.com/ros-planning/moveit_ros">one of the repos of MoveIt!</a>.
          In the end, this PR is closed (not merged) and one of the maintainers provided <a href="https://github.com/ros-planning/moveit_ros/pull/713">another PR</a>
          with similar changes. The reason my PR is rejected is the missing feature to disable the button until the trajectory execution is completed.
          The maintainer knew a simpler implementation for this than mine, and he provided the PR and merged.
          The result is shown in below movie:
          <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-8 offset-md-2">
              <img class="img-fluid" src="https://github.com/wkentaro-archive/gsoc2016/raw/master/img/stop_execution_rviz_plugin.gif" />
            </div>
          </div>
        </p>
      </div>
    </li>
  </ul>
</div>

<div class="pl-1">
  <h3 id="left_things"><a href="#left_things">Left Things: PRs and Issues to be Merged and Closed</a></h3>
  <p class="pl-1">
    This section provides the left PRs/Issues in this GSoC project.
    This means the project is not yet 100% complete. The things left to do are listed below.
  </p>
  <ul>
    <li>
      <div class="pl-1">
        <h4>[Simulator] Add package to spawn model and position control on Gazebo simulator: <a href="https://github.com/ros-industrial/fanuc_experimental/pull/20">ros-industrial/fanuc_experimentall#20</a></h4>
        <p>
          This is a PR to simulate the robot fanuc_lrmate200id on one of the most popular simulators on robotics, Gazebo, based on closed PRs/Issues
          (<a href="https://github.com/ros-industrial/fanuc_experimental/pull/19">ros-industrial/fanuc_experimental#19</a>,
          <a href="https://github.com/ros-industrial/fanuc_experimental/issues/22">ros-industrial/fanuc_experimental#22</a>,
          <a href="https://github.com/ros-industrial/fanuc/issues/145">ros-industrial/fanuc#145</a>), for creating the whole system.
          The reason why the robot is chosen is that the real robot is owned by the one of the maintainers, and he can use my code with it.
          Gazebo is a physics simulator, so in order to spawn the model and use it, it is necessary to set the inertial values.
          The correct inertial values are not open (as shown in <a href="https://github.com/ros-industrial/fanuc_experimental/issues/22">ros-industrial/fanuc_experimental#22</a>),
          so I estimated it with the meshes of the links and Meshlab in a way described <a href="http://gazebosim.org/tutorials?tut=inertia&cat=#Computingtheinertialparameters">here</a>.
          The result is shown in below figure:
          <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-8 offset-md-2">
              <img class="img-fluid" src="https://github.com/wkentaro-archive/gsoc2016/raw/master/img/setup_gazebo.png" />
            </div>
          </div>
        </p>
      </div>
    </li>
    <li>
      <div class="pl-1">
        <h4>[Simulator] Fix vacuum gripper plugin to work in stable: <a href="https://github.com/ros-simulation/gazebo_ros_pkgs/pull/48://github.com/ros-simulation/gazebo_ros_pkgs/pull/482">ros-simulation/gazebo_ros_pkgs#482</a></h4>
        <p>
          This is a PR to simulate the vacuum gripper in order to run manipulation tasks on the simulator.
          Without this PR, the vacuum gripper plugin does not work as expected because of the too fast angular velocity of the manipulating object.
          This PR is under reviews.
        </p>
      </div>
    </li>
    <li>
      <div class="pl-1">
        <h4>[Planner] Controlling Fanuc LRMate200iD with Moveit on Gazebo: <a href="https://github.com/ros-industrial/fanuc_experimental/pull/21">ros-industrial/fanuc_experimental#21</a></h4>
        <p>
          This is a PR to control Fanuc LRMate200iD robot on Gazebo with Moveit!, for creatign the whole system.
          MoveIt! is one of the most popular project for robotic planning, and I decided to use it on this project.
          The result is shown in below:
          <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-8 offset-md-2">
              <img class="img-fluid" src="https://github.com/wkentaro-archive/gsoc2016/raw/master/img/moveit_fanuc_gazebo.gif" />
            </div>
          </div>
        </p>
      </div>
    </li>
    <li>
      <div class="pl-1">
        <h4>[Planner] Fix namespace of params for trajectory_execution</h4>
        <p>
          This is a bugfix of MoveIt!, with related issues
          (<a href="https://github.com/ros-planning/moveit/issues/61">ros-planning/moveit#61 (closed)</a>,
          <a href="https://github.com/ros-industrial/fanuc_experimental/pull/24">ros-industrial/fanuc_experimental#24</a>).
          Because of this bug the trajectory execution for the robot is usually canceled, and sometimes it breaks the robot on the simulation.
          To fix this I proposed PRs below:
          <ul>
            <li><a href="https://github.com/ros-planning/moveit/pull/72">Set trajectory execution monitor params under correct namespace (merged)</a></li>
            <li><a href="https://github.com/ros-planning/moveit/pull/73">Fix missing dynparam setup for TrajectoryExecutionManager (merged)</a></li>
          </ul>
        </p>
        <div>
          <h5>Merged commits of mine</h5>
          <ul>
            <li><a href="https://github.com/ros-planning/moveit/commit/c185888e93616c1041f3ff1f0fa86e4f9ea5ab43">Fix missing dynparam setup for TrajectoryExecutionManager (#73)</a></li>
            <li><a href="https://github.com/ros-planning/moveit/commit/20001602e915746877d56caccce7b46dfd5cac72">Added parameter allowed_goal_duration_margin to DynamicReconfigure</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="pl-1" id="issue_octomap_contact">
        <h4>[Adaptive] Sample of OctomapServerContact does not work: voxel is not updated with contact?: <a href="https://github.com/jsk-ros-pkg/jsk_recognition/issues/1834">jsk-ros-pkg/jsk_recognition#1834</a></h4>
        <p>
          This is an bug report I proposed, but not yet fixed.
          The OctomapServerContact is a voxel collision object map generation method using robot contact aside from the point cloud sensed with RGB-D cameras,
          and this kind of mapping is necessary for re-planning after the detecting contact and stopping execution.
          So this is a feature for adaptiveness in the system.
          Currently the voxel map is not updated with the robot contact that is detected with force sensors, and it needs to be fixed.
        </p>
      </div>
    </li>
    <li>
      <div class="pl-1" id="issue_moveit_scene">
        <h4>[Adaptive] Scene visualization won't work on rviz plugin after some joint trajectory execution: <a href="https://github.com/ros-planning/moveit_ros/issues/711">ros-planning/moveit_ros#711</a></h4>
        <p>
          This is a bug report I proposed, but not yet fixed.
          Updating planning scene is necessary for adaptiveness on this project, to store the contact detected with the force sensors.
          This is included feature in MoveIt!, but not worked in some situations.
        </p>
      </div>
    </li>
    <li>
      <div class="pl-1">
        <h4>[Reactive] Add capability of executing known trajectory with a ROS action: <a href="https://github.com/ros-planning/moveit/pull/94">ros-planing/moveit#94</a></h4>
        <p>
          This is a PR to execute trajectory with monitoring, based on PRs/Issues (
          <a href="https://github.com/ros-planning/moveit/pull/60">ros-planning/moveit#60 (wrongly merged and reverted)</a>,
          <a href="https://github.com/ros-planning/moveit_msgs/pull/23">ros-planning/moveit_msgs#23 (closed)</a>,
          <a href="https://github.com/ros-planning/moveit_msgs/pull/24">ros-planning/moveit_msgs#24</a>
          <a href="https://github.com/ros-planning/moveit_ros/pull/719">ros-planning/moveit_ros#719 (closed)</a>,
          <a href="https://github.com/ros-planning/moveit_msgs/pull/27">ros-planning/moveit_msgs#27 (merged)</a>
          ),
          for the reactiveness in the system.
          Monitoring trajectory execution is necessary for operator cancel GUI handling as described <a href="#stop_execution">here</a>.
          Also the function to monitor the execution is necessary for controllers for completely automated system, because
          the robot controller needs to select canceling execution or waiting for the completion during the execution.
        </p>
        <div>
          <h5>Merged commits of mine</h5>
          <ul>
            <li><a href="https://github.com/ros-planning/moveit_msgs/commit/cd1971bade31010c4f1b21dcc8596762330ea2f2">Add .action file for execution trajectory in a ROS action (#24)</a></li>
            <li><a href="https://github.com/ros-planning/moveit_msgs/commit/e6f88983aadf3b91933a9f25e82040354b96cd15">renamed ExecutePath.action -> ExecuteTrajectory.action (#27)</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="pl-1">
  <h3 id="demonstration"><a href="#demonstration">Demonstrations of What is Achieved by this Project</a></h3>
  <p class="pl-1">
    This section provides some demonstrations to show what is achieved by this project.
  </p>
  <ul>
    <li>
      <div class="pl-1">
        <h4>Gazebo demonstration of reactive planning: Touch the floor: <a href="https://github.com/ros-industrial/fanuc_experimental/pull/23">ros-industrial/fanuc_experimental#23</a></h4>
        <p>
          This demo is to show the function of reactiveness of the system. In the demo, a force sensor at the last joint of the robot detects the unexpected force input,
          and the controller stops the trajectory execution based on that.
          Without the reactiveness the robot breaks with collision to the floor, but with my system the robot successfully detects the floor.
          The result is shown in below movies, one is without reactiveness and the other is with it:
        </p>
        <ul>
          <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vLVlsZnNJcWtfSkU"><b>Movie</b> without reactiveness</a></li>
          <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vSVRqSnVpX19iQmc"><b>Movie</b> with reactiveness</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="pl-1">
        <h4>
          Pick and place demonstration with Fanuc LRMate200id in a situation with few sensors with reactive and adaptive planning:
          <a href="https://github.com/ros-industrial/fanuc_experimental/pull/25">ros-industrial/fanuc_experimental#25</a>
        </h4>
        <p>
          This demo is to show the function of reactiveness and adaptiveness of the system in a situation with few sensors, and many occlusions, with a operator input.
          The task is to pick object from a red bin and place it in a shelf bin. The shelf bin has many occlusions and robot needs to detect collision and stop trajectory execution if necessary.
          The operator can stop the trajectory execution with unexpected force input, and successfully complete the task based on the history of the contact beforehand.
          The result is shown in below movies, one is to show the reactiveness and the other is to show the completion of task afterwards:
          <ul>
            <li><a href="https://drive.google.com/file/d/0B9P1L--7Wd2vZ3lWUmxrWUNWb2M/view?usp=sharing"><b>Movie</b> of detecting collision with force sensor input and stop the trajectory execution.</a></li>
            <li><a href="https://drive.google.com/file/d/0B9P1L--7Wd2vZ0RGOVprZXVLZlU/view?usp=sharing"><b>Movie</b> of completing the stow task based on the previous collision detection and trajectory execution canceling.</a></li>
          </ul>
        </p>
      </div>
    </li>
  </ul>
</div>


<div class="pl-1">
  <h3 id="conclusions"><a href="#conclusions">Conclusions</a></h3>
  <p class="pl-1">
    For reactive and adaptive planning, functions for stopping trajectory execution and re-planning are necessary.
    I completed most of the features for reactiveness but there are still some open issues for re-planning:
    <a href="#issue_moveit_scene">#issue_moveit_scene</a>, <a href="#issue_octomap_contact">#issue_octomap_contact</a>.
    The demonstrations above shows the system is effective in a situation with few sensors and occlusions, but the completely automated planning
    using only sensor inputs not operator inputs is not yet tackled. It is one of the future works.
  </p>
</div>


<div class="pl-1">
  <h3 id="other_resources"><a href="#other_resources">Other Resources Created in the Project</a></h3>
  <div class="pl-1">
    <h4>ROS workspace for code which is not yet merged</h4>
    <ul>
      <li>Setup ROS following <a href="http://wiki.ros.org/indigo/Installation/Ubuntu">this link</a></li>
      <li>Setup ROS workspace with commands below:
    <pre>
mkdir -p ~/ros/gsoc_ws/src
cd ~/ros/gsoc_ws/src
wget https://raw.githubusercontent.com/wkentaro/gsoc2016/master/rosinstall -O .rosinstall
wstool up
cd ..
catkin build</pre>
      </li>
  </div>
  <div class="pl-1">
    <h4>Presentation Documents for <a href="http://rosindustrial.org/">ROS Industrial</a> Monthly Meeting</h4>
    <ul>
      <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vMFVMNzBSSWxQZWM">2016-05-10</a></li>
      <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vem1KQ24tOFpuakU">2016-06-01</a></li>
      <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vaDFlT1loUTU4MlU">2016-07-11</a></li>
      <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vbkRocEJTb0ZUOVU">2016-08-09</a></li>
    </ul>
  </div>
</div>  <!-- div.indent-1 -->

{% endblock %}
