{% extends "base.html" %}

{% block content %}

<h2 class="text-center">
  3D Object Segmentation for Shelf Bin Picking by Humanoid <br/>with Deep Learning and Occupancy Voxel Grid Map
  <br/>
  <small>Kentaro Wada and Masaki Murooka and Kei Okada and Masayuki Inaba</small>
</h2>

<div class="indent-1">
  <ul class="list-inline text-center">
    <li><a href="https://github.com/wkentaro/hrp2_apc">code</a></li>
    <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vX2o0bkFSaUw1ODA">paper</a></li>
    <li><a href="{{ url_for('static', filename="projects/hrp2_apc/bib.txt") }}">bibtex</a></li>
    <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vWDNEVm5hZF9CUDA">slides</a></li>
    <li><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vWDlzMDRNbVpfelE">poster</a></li>
  </ul>
</div>

<div class="text-center">
  <iframe src="https://drive.google.com/file/d/0B9P1L--7Wd2vdERfaFJmWUJxdlk/preview?autoplay=1" width="640" height="350" frameborder="0"></iframe>
</div>

<div class="indent-1">
  <h3>Abstract</h3>
  <p class="indent-1">
    Picking objects in a narrow space such as shelf bins is an important task for humanoid to extract target object from environment. In those situations, however, there are many occlusions between the camera and objects, and this makes it difficult to segment the target object three dimensionally because of the lack of three dimentional sensor inputs. We address this problem with accumulating segmentation result with multiple camera angles, and generating voxel model of the target object. Our approach consists of two components: first is object probability prediction for input image with convolutional networks, and second is generating voxel grid map which is designed for object segmentation. We evaluated the method with the picking task experiment for target objects in narrow shelf bins. Our method generates dense 3D object segments even with occlusions, and the real robot successfully picked target objects from the narrow space.
  </p>
</div>  <!-- div.indent-1 -->

{% endblock %}
