{% extends "base.html" %}

{% block content %}

<div class="content-item" id="about">
  <h2>About</h2>
  <div class="container-fluid" style="margin-bottom: 40px">
    <div class="row">
      <div class="col-xs-3">
        <img src="{{ url_for('static', filename="img/profile.jpg") }}" class="img-rounded profile-img" />
      </div>
      <div class="col-xs-4">
        <dl style="margin: 0 0">
          <dt>Name</dt><dd>Kentaro Wada</dd>
          <dt>Birth on</dt><dd>1994.01.31</dd>
          <dt>Occupation</dt><dd>Master Student</dd>
        </dl>
      </div>
      <div class="col-xs-5">
        <p>
          I am a second year Computer Science student at University of Tokyo advised by Prof. Masayuki Inaba and Prof. Kei Okada. I work on computer vision and robotics.
        </p>
      </div>
    </div>
  </div>
  <div class="profile-item">
    <h4 id="skills" style="width:53px">Skills</h4>
    <dl>
      <dt>Natural Language</dt>
      <dd>Japanse, English, Chinese</dd>
    </dl>
    <dl>
      <dt>Programming Skills</dt>
      <dd>
        <i class="icon-python"></i> Python &gt;
        C++ &gt;
        Bash/Zsh &gt;
        HTML/CSS, JavaScript
      </dd>
      <dd><i>(note: Languages listed in order of proficiency)</i></dd>
    </dl>
    <dl>
      <dt>OS / Frameworks</dt>
      <dd>
        OSX,
        Ubuntu,
        Git,
        GitHub,
        ROS,
        Database,
        PaaS,
        AWS
    </dl>
    <dl>
      <dt>Field</dt>
      <dd>
        Machine Learning,
        Robotics,
        Web Services
      </dd>
    </dl>
  </div>
  <div class="profile-item">
    <h4 id="education" style="width:90px">Education</h4>
    <dl>
      <dt><a href="https://www.u-tokyo.ac.jp/en/" target="_blank">The University of Tokyo</a></dt>
      <dd><a href="https://www.ci.i.u-tokyo.ac.jp/" target="_blank">Information and Technology Department (Creative Informatics)</a> (2016.09 - 2018.08 (expected))</dd>
      <dd><a href="https://www.kikaib.t.u-tokyo.ac.jp/" target="_blank">Engineering Department (Mechano-Informatics)</a> (2013.10 - 2016.03)</dd>
      <dd><a href="" data-toggle="modal" data-target="#univ1">Science Course II</a> (2012.04 - 2013.09)</dd>
    </dl>
    <dl>
      <dt><a href="http://www.zeze-h.shiga-ec.ed.jp/?page_id=6986&lang=en-us" target="_blank">Shiga Zeze High School</a></dt>
      <dd>Science Course (2009.04 - 2012.03)</dd>
    </dl>
  </div>
  <div class="profile-item">
    <h4 id="workexperiences" style="width:140px">Work experiences</h4>
    <dl>
      <dt><a href="" data-toggle="modal" data-target="#tech_assistant">The University of Tokyo</a></dt>
      <dd>Technology Assistant (2015.10 - present)</dd>
    </dl>
    <dl>
      <dt><a href="" data-toggle="modal" data-target="#hri">Honda Research Institute Japan Co., Ltd.,</a></dt>
      <dd>Researcher (2014.08.29 - 2014.09.26)</dd>
    </dl>
    <dl>
      <dt><a href="" data-toggle="modal" data-target="#nagase">Nagase Co. Ltd.</a></dt>
      <dd>Contents Staff (2012.11 - 2014.03)</dd>
    </dl>
    <dl>
      <dt><a href="" data-toggle="modal" data-target="#donuts">Donuts Co. Ltd.</a></dt>
      <dd>SI (2013.09 - 2014.01)</dd>
    </dl>
  </div>
</div><!-- /#about -->

<!-- modals -->
  <div class="modal fade" id="univ1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Science Course II at The University of Tokyo</h4>
        </div>
        <div class="modal-body">
          <p>In this course, I studied the basic knowledges to use in professional departments after the Liberal Arts.</p>
          <dl>
            <dt>Period</dt>
            <dd>from 2012.04 to 2013.09</dd>
            <dt>Subjects</dt>
            <dd class="indent-1">
              <ul class="caption">
                <li>Physics</li><li>Electromagnetism</li><li>Quantum Chemistry</li>
                <li>Space Science Experiment</li><li>Infomation Technology</li><li>Thermodynamics</li>
                <li>Mathematics</li><li>Life Science</li><li>Modern Education</li>
                <li>English Language</li><li>Chinese Language</li><li>Mongol Language</li><li>Greek Language</li>
              </ul>
            </dd>
            <dt>Links</dt>
            <dd><a href="http://www.c.u-tokyo.ac.jp/eng_site/" target="_blank">The University of Tokyo, Komaba</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div><!-- /#univ1 -->

  <div class="modal fade" id="hri">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Internship at Honda Research Institute Japan Co., Ltd.,</h4>
        </div>
        <div class="modal-body">
          <ul>
            <li><a href="{{ url_for('static', filename="projects/hri_internship_2014/certificate.pdf") }}" target="_blank">Certificate</a></li>
            <li><a href="http://www.honda-ri.com/" target="_blank">HP of Honda Research Institutes</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /#hri -->

  <div class="modal fade" id="nagase">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Part-time Job at Nagase Co. Ltd.</h4>
        </div>
        <div class="modal-body">
          <dl>
            <dt>Marking</dt>
            <dd>In Nagase group, there is a cram school named Toshin, and it offers marking service of past exam paper students solved. I am marking the exam papers which students submitted.</dd>
            <dt>Assistant of Making Contents</dt>
            <dd>In Toshin cram school, students take classes with videos. The job in this part-time job was to assist the recording, for example to appoint some careless mistakes of the teacher.</dd>
            <dt>Links</dt>
            <dd class="indent-1">
              <ul class="caption">
                <li><a href="https://www.toshin.com/nagase/" target="_blank">Nagase Co. Ltd.</a></li>
                <li><a href="https://www.toshin.com/" target="_blank">Toshin</a></li>
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div><!-- /#nagase -->

  <div class="modal fade" id="donuts">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Internship at Donuts. Co. Ltd.</h4>
        </div>
        <div class="modal-body">
          <dl>
            <dt>SI</dt>
            <dd>Handled web services, one of which destribute articles about how-to for girls, or another is electronic commerce website. The jobs were mostly using PHP, HTML/CSS and JavaScript. The framework was Smarty which based on PHP.</dd>
            <dt>Projects I commited</dt>
            <dd class="indent-1">
              <ul class="caption">
                <li><a href="http://howcollect.jp/" target="_blank">How Collect</a></li>
                <li><a href="https://yom.sc/" target="_blank">Otemachi Mall</a>
                </ul>
              </dd>
              <dt>Links</dt>
              <dd class="indent-1">
                <ul class="caption">
                  <li><a href="http://www.donuts.ne.jp/" target="_blank">Donuts Co. Ltd.</a></li>
                </ul>
              </dd>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div><!-- /#donuts -->
<!-- /modals -->

{% endblock %}
