<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">

  <title>Kentaro Wada</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cssnormalize-min.css') }}">
  <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-mfizz/font-mfizz.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/syntax.css') }}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FQLZSEL5MH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FQLZSEL5MH');
    </script>
</head>
<body>
  <div class="container-fluid mt-3 mb-3">
    <div class="row">
      <div id="content" class="offset-md-2 col-sm-8 clearfix">

        <div class="masthead clearfix">
          <a href="/"><h1 class="masthead-title text-center">KENTARO WADA</h1></a>
          <p class="text-center">Thank you for visiting. This is my personal page.</p>
          <ul class="list-inline text-center">
            <li class="list-inline-item">{% if request.path == '/' %}Home{% else %}<a href="{{ url_for('index') }}">Home</a>{% endif %}</li>
            <li class="list-inline-item">{% if request.path == '/projects/' %}Projects{% else %}<a href="{{ url_for('projects') }}">Projects</a>{% endif %}</li>
            <li class="list-inline-item">{% if request.path == '/software/' %}Software{% else %}<a href="{{ url_for('software') }}">Software</a>{% endif %}</li>
            <li class="list-inline-item"><a href="{{ url_for('static', filename='pdf/CV.pdf') }}">CV</a></li>
          </ul>
        </div>

        <hr/>

        {% block content %}{% endblock %}

        <hr/>

        <footer>
          <div class="footer-copyright text-center font-small py-3">© 2019-2022 Copyright:
            Kentaro Wada
          </div>
        </footer>
      </div>
    </div>
  </div>
</body>

</html>
