<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">

  <title>Kentaro Wada</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resource/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cssnormalize-min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resource/Font-Awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-mfizz/font-mfizz.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/syntax.css') }}">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42819052-5', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div id="main" class="container-fluid">
    <div class="row">
      <div id="content" class="col-sm-offset-2 col-sm-8 clearfix">

        <div class="masthead clearfix">
          <a href="/"><h1 class="masthead-title text-center">KENTARO WADA</h1></a>
          <p class="masthead-tagline text-center">Thank you for visiting. This is my personal page.</p>
          <ul class="list-inline text-center page-links">
            <li>{% if page_name == "index" %}Projects{% else %}<a href="/">Projects</a>{% endif %}</li>
            <li><a href="https://scholar.google.co.uk/citations?user=JoeSwcoAAAAJ" target="_blank" />Publications</a></li>
            <li>{% if page_name == "about" %}About{% else %}<a href="/about">About</a>{% endif %}</li>
            <li><a href="https://github.com/wkentaro" target="_blank">GitHub</a></li>
            <li><a href="https://www.flickr.com/photos/142119520@N02/" target="_blank">Flickr</a></li>
            <li><a href="{{ url_for('static', filename='resource/CV/CV.pdf') }}">CV</a></li>
          </ul>
        </div>

        {% block content %}{% endblock %}

        <div class="text-center contacts">
          <p style='margin: 2em 0 0 0; font-size: 60%;'>Contact to me! :)</p>
          <ul class="list-inline contact-lists indent-1" style="margin-top: 3px">
            <li><a href="mailto:www.kentaro.wada@gmail.com" target="_blank"><i class="fa fa-envelope-square"></i></a></li>
            <li><a href="https://www.facebook.com/greeeenkew" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://www.twitter.com/greeeenkew" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/wkentaro" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
        </div>
      </div><!-- .col-sm-8 -->
    </div><!-- /.row -->
  </div><!-- /#main -->

  <!-- scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='resource/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <!-- /scripts -->

</body>

</html>
