{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-8 offset-2">
    <h2>特定商取引法に基づく表記</h2>
    <table class="table">
      <tr><th width="35%">販売業社の名称</th><td>和田 健太郎</td></tr>
      <tr><th>所在地</th><td>請求があった場合に遅滞なく開示</td></tr>
      <tr><th>電話番号</th><td>070-8389-3112（受付時間 10:00 - 18:00, 土日祝を除く）</td></tr>
      <tr><th>メールアドレス</th><td>www.kentaro.wada@gmail.com</td></tr>
      <tr><th>運営統括責任者</th><td>和田 健太郎</td></tr>
      <tr><th>追加手数料等の追加料金</th><td>手数料（コンビニ決済：500円）</td></tr>
      <tr>
        <th>交換および返品（返金ポリシー）</th>
        <td>
          ＜お客様都合の返品の場合＞
          デジタルコンテンツの性質上、商品に不備がない場合の返品はお受けしておりません。
          <br/>
          ＜商品に不備がある場合＞
          返金または新しい商品と交換をいたします。まずは、メールにてご連絡ください。
        </td>
      </tr>
      <tr><th>引渡時期</th><td>注文後すぐに商品をダウンロード、ご利用いただけます。</td></tr>
      <tr><th>受け付け可能な決済手段</th><td>クレジットカードまたはPayPal</td></tr>
      <tr><th>決済期間</th><td>決済後ただちに処理されます。</td></tr>
      <tr><th>販売価格</th><td>各商品ページに記載の金額</td></tr>
    </table>
  </div>
</div>

{% endblock %}
