{% extends "base.html" %}

{% block content %}

<h2>Projects</h2>

<div class="row">

  <div id="icra2018" class="col-sm-12">
    <h4><a href="http://icra2018.org/">ICRA2018</a>: Few-shot Learning based on Context-aware Network Expansion with Artificial Training Data for Picking in Warehouse Automation (2017.08 - 2018.05)</a></h4>
    <div class="col-sm-5">
      <div class="thumbnail">
        <img src="{{ url_for('static', filename="projects/fewshot_seg/thumbnail.jpg") }}" />
      </div>
    </div>
    <div class="col-sm-7">
      <li><u>Kentaro Wada</u>, Shun Hasegawa*, Shingo Kitagawa*, Yuto Uchimi, Naoya Yamaguchi, Kei Okada and Masayuki Inaba <small>(*: equal contribution)</small></li>
      <li>Submitted and under review.</li>
    </div>
  </div>

  <div id="arc2017" class="col-sm-12">
    <h4><a href="https://www.robocup2017.org/">Robocup2017</a>: Amazon Robotics Challenge 2017 at Robocup2017 in Nagoya, Japan (2017.03 - 2017.07)</h4>
    <div class="col-sm-5">
      <div class="thumbnail">
        <img src="{{ url_for('static', filename="projects/arc2017/thumbnail.jpg") }}" />
      </div>
    </div>
    <div class="col-sm-7">
      <ul>
        <li>Shun Hasegawa*, Shingo Kitagawa*, <u>Kentaro Wada*</u>, Yuto Uchimi, Naoya Yamaguchi, Kei Okada and Masayuki Inaba <small>(*: equal contribution)</small></li>
        <li>12th/13th place in 16 teams for pick/stow tasks.</li>
      </ul>
    </div>
  </div>

  <div id="jsai2017" class="col-sm-12">
      <h4><a href="https://www.ai-gakkai.or.jp/jsai2017/">JSAI2017</a>: <a href="https://kaigi.org/jsai/webprogram/2017/paper-662.html" target="_blank">Fully Convolutional Object Depth Prediction for 3D Segmentation from 2.5D Input</a> (2016.11 - 2017.05)</a></h4>
    <div class="col-sm-5">
      <div class="thumbnail">
        <a href="https://kaigi.org/jsai/webprogram/2017/paper-662.html" target="_blank">
          <img src="{{ url_for('static', filename="projects/thd_depth/thumbnail.jpg") }}" />
        </a>
      </div>
    </div>
    <div class="col-sm-7">
      <ul>
        <li><u>Kentaro Wada</u>, Kei Okada and Masayuki Inaba</li>
        <li><a href="https://kaigi.org/jsai/webprogram/2017/pdf/662.pdf">Paper</a></li>
        <li><a href="{{ url_for('static', filename="projects/jsai2017/bib.txt") }}">Bibtex</a></li>
        <li><a href="https://www.dropbox.com/s/d0cpxbxxhnf5t50/">Movie</a></li>
        <li><a href="https://www.dropbox.com/s/en77bhm6ih83log/">Slides</a></li>
      </ul>
    </div>
  </div>

  <div id="iros2017" class="col-sm-12">
    <h4><a href="http://www.iros2017.org">IROS2017</a>: <a href="/projects/label_octomap" target="_blank">Probabilistic 3D Multilabel Real-time Mapping for Multi-object Manipulation</a> (2016.09 - 2017.09)</h4>
    <div class="col-sm-5">
      <div class="thumbnail">
        <a href="/projects/label_octomap" target="_blank" class="thumbnail">
          <img src="{{ url_for('static', filename="projects/label_octomap/thumbnail.jpg") }}" />
        </a>
      </div>
    </div>
    <div class="col-sm-7">
      <ul>
        <li><u>Kentaro Wada</u>, Kei Okada and Masayuki Inaba</li>
        <li><a href="https://www.dropbox.com/s/in7zlhbz2lwv1ga/">Paper</a></li>
        <li><a href="{{ url_for('static', filename="projects/label_octomap/bib.txt") }}">Bibtex</a></li>
        <li><a href="https://www.dropbox.com/s/k8ryzeci5tmm6gx/">Slides</a></li>
        <li><a href="https://github.com/wkentaro/label_octomap">Code</a></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-12">
    <h4><a href="/projects/archive">Previous Projects (2013 - 2016)...</a></h4>
  </div>

</div>  <!-- .row -->

{% endblock %}
