{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-lg-2 col-md-4 offset-md-2 offset-lg-3 text-center mt-4">
    <img src="{{ url_for('static', filename="img/profile.jpg") }}" class="rounded img-fluid" style="max-width: 150px;" />
  </div>
  <div class="col-md-6 pt-2 pl-4 mt-4">
    <ul class="list-unstyled m-0">
      <li><i class="fas fa-graduation-cap"></i> PhD Student</li>
      <li><a href="mailto:www.kentaro.wada (at) gmail.com"><i class="fas fa-envelope"></i> www.kentaro.wada (at) gmail.com</a></li>
      <li><i class="fas fa-map-marker-alt"></i> London, United Kingdom</li>
      <li>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://scholar.google.co.jp/citations?user=JoeSwcoAAAAJ&hl=en" class="unstyled"><i class="ai ai-google-scholar-square fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="https://github.com/wkentaro" class="unstyled"><i class="fab fa-github fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="https://www.facebook.com/wkentaro131" class="unstyled"><i class="fab fa-facebook fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="https://www.twitter.com/wkentaro_" class="unstyled"><i class="fab fa-twitter fa-2x"></i></a></li>
          <li class="list-inline-item p0"><a href="https://www.linkedin.com/in/wkentaro" class="unstyled"><i class="fab fa-linkedin fa-2x"></i></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-8 offset-lg-2">
    <p>
      Kentaro Wada was born in Japan in 1994. He received his B.Sc. (2016) and M.Sc. (2018) from Mechanical Engineering and Computer Science Department in The University of Tokyo (UTokyo).
      In his research at UTokyo, he was working on learning-based scene understanding for robotic manipulation at <a href="http://www.jsk.t.u-tokyo.ac.jp/">JSK laboratory</a>
      supervised by <a href="https://scholar.google.com/citations?user=iwOGCwwAAAAJ&hl=ja">Prof. Masayuki Inaba</a> and <a href="https://scholar.google.co.jp/citations?user=456Oe4YAAAAJ&hl=en">Prof. Kei Okada</a>.
      For PhD from 2018, he joined <a href="http://www.imperial.ac.uk/dyson-robotics-lab">Dyson Robotics Laboratory</a> supervised by
      <a href="https://www.doc.ic.ac.uk/~ajd/">Prof. Andrew Davison</a> and <a href="https://www.imperial.ac.uk/people/s.leutenegger">Dr. Stefan Leutenegger</a>.
      He is now working on object-level semantic SLAM, which is potentially generally useful for robotic manipulation.
    </p>
  </div>
</div>

<h2>Updates</h2>
<div class="card card-body">
  <ul class="m-0 pl-3">
    <li><b>Jan 2019</b>: Two papers were accepted to ICRA2019!</li>
    <li><b>Oct 2018</b>: Joined Dyson Robotics Laboratory to start his PhD program!</li>
    <li><b>Sep 2018</b>: Presented three papers at IROS2018 in Madelaid, Spain!</li>
    <li><b>Aug 2018</b>: Finished M.Sc. in Information and Technology Department at The University of Tokyo!</li>
    {# <li><b>Jun 2018</b>: Three papers were accepted to IROS2018!</li> #}
    <li><b>Oct 2017</b>: Presented two papers at IROS2017 in Vancouver, Canada!</li>
    <li><b>Jun 2017</b>: Participated Amazon Robotics Challenge 2017 at Nagoya, Japan!</li>
    <li><b>Sep 2016</b>: Presented one paper at Humanoids2016 in Cancun, Mexico!</li>
    <li><b>Jun 2016</b>: Participated Amazon Picking Challenge 2016 at Leipzig, Germany!</li>
    <li><b>Mar 2016</b>: Finished B.Sc. in Mechano-Informatics Department at The University of Tokyo!</li>
    <li><b>Jun 2015</b>: Participated Amazon Picking Challenge 2015 at Seattle, United States!</li>
  </ul>
</div>

<hr/>
<h2 id="research">Research</h2>
{% include "include/research.html" %}

{% endblock %}
