{% extends "base.html" %}

{% block content %}

<h2>Projects</h2>

<div class="row">

  <div id="apc2016" class="col-xs-12">
    <h4>Amazon Picking Challenge 2016 at Robocup2016 in Leipzig, Gemany. (2016.04 - 2016.07)</h4>
    <div class="col-xs-3">
      <a href="https://www.amazonrobotics.com/#/pickingchallenge" target="_blank" class="thumbnail">
        <img src="{{ url_for('static', filename="img/apc2016.jpg") }}" />
      </a>
    </div>
    <div class="col-xs-9">
      <p>
        Our team Team-K got 5th in pick task, 8th in stow task.
      </p>
      <ul class="list-inline indent-1">
        <li><a href="http://github.com/start-jsk/jsk_apc" target="_blank" />Code</a></li>
      </ul>
    </div>
  </div>

  <div id="gsoc2016" class="col-xs-12">
    <h4>Google Summer of Code 2016 (2016.05 - 2016.08)</h4>
    <div class="col-xs-4">
      <a href="https://github.com/wkentaro/gsoc2016" target="_blank" class="thumbnail">
        <img src="{{ url_for('static', filename='projects/gsoc2016/thumbnail.jpg') }}" />
      </a>
    </div>
    <div class="col-xs-8">
      <p class="indent-1">
        See detail <a href="/projects/gsoc-2016">here</a>.
      </p>
    </div>
  </div>

  <div class="col-xs-12">
    <a href="/projects/archive">
      <h4>Archived Projects ...</h4>
    </a>
  </div>

</div>  <!-- .row -->

{% endblock %}
