{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="content-item" id="research">
  <h2>Research</h2>
  <ul class="papers small">
    <li>
      <a href="http://www.jsk.t.u-tokyo.ac.jp/~wada/2015/rsj/1G1-06.pdf">
        Kentaro Wada, Iori Yanokura, Makoto Sugiura, Yuto Inagaki, Kei Okada, Masayuki Inaba, Robotic Picking for Daily Objects with Visual Verification and Vacuum Gripper, The Robotics Society of Japan 33rd, 2015
      </a>
    </li>
    <li>
      <a href="http://www.jsk.t.u-tokyo.ac.jp/~wada/2014/20141121-sig-kst-23.pdf">
        Kentaro Wada, Kazuya Kawakami, Kenji Tanaka, Custormers' Clustering Analysis with Big Data on Marketing History, The Japanese Society for Artificial Intelligence, SIG-KST 23rd, 2014
      </a>
    </li>
  </ul>
</div>

{% endblock %}
