{% extends "base.html" %}

{% block content %}

<h2>Papers</h2>
{% include "include/papers.html" %}

<hr/>
<h2>Other Projects</h2>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/arc2017/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Team-K at International Amazon Robotics Challenge 2017</b></li>
        <li><i>Shun Hasegawa*, Shingo Kitagawa*, <u>Kentaro Wada*</u>, Yuto Uchimi, Naoya Yamaguchi, Kei Okada</i></li>
        <li>Robocup2017</li>
        <li>(12th/13th place among 16 teams in pick/stow tasks. Actually, we had a hardware problem while pick task.)</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://github.com/start-jsk/jsk_apc">Code</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/apc2016/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Team-K at International Amazon Picking Challenge 2016</b></li>
        <li><i><u>Kentaro Wada</u>, Shun Hasegawa, Shingo Kitagawa, Yusuke Niitani, Masahiro Bando, Kei Okada</i></li>
        <li>Robocup2016</li>
        <li>(Got 5th place at pick task and 8th place at stow task among 16 teams)</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://drive.google.com/open?id=0B9P1L--7Wd2vWkRaeE9lSzhUNlU">Slides</a></li>
            <li class="list-inline-item"><a href="https://github.com/start-jsk/jsk_apc">Code</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/gsoc2016/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Reactive and Adaptive Path Planning Using Sensor Feedback and Operator Input</b></li>
        <li><i><u>Kentaro Wada</u>, Shaun Edwards, Fred Proctor</i></li>
        <li>Google Summer of Code 2016</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="/projects/gsoc2016">Detail</a></li>
            <li class="list-inline-item"><a href="https://github.com/wkentaro/gsoc2016">Code</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <img src="{{ url_for('static', filename='projects/apc2015/thumbnail.jpg') }}" class="img-fluid" />
    </div>
    <div class="col-md-6 col-lg-9">
      <ul class="list-unstyled m-0">
        <li><b>Team-K at International Amazon Picking Challenge 2015</b></li>
        <li><i><u>Kentaro Wada*</u>, Iori Yanokura*, Yuto Inagaki*, Makoto Sugiura, Kei Okada</i></li>
        <li>International Conference on Robotics and Automation (ICRA) Competition 2015</li>
        <li>(Got 8th place in 28 teams)</li>
        <li>
          <ul class="list-inline mt-2">
            <li class="list-inline-item"><a href="https://www.youtube.com/watch?v=VvnHMvnQsCM" target="_blank">Video (challenge description)</a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/watch?v=OYjK5J__uDI&t=208" target="_blank">Video (team description)</a></li>
            <li class="list-inline-item"><a href="http://github.com/start-jsk/jsk_apc" target="_blank" />Code</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
