{% extends "base.html" %}

{% block content %}

<h2>Resources</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for resource in resources %}
  <div class="col">
    <a href="{{ resource.url }}">
      <div class="card h-100">
        <img src="{{ resource.thumbnail }}" class="card-img-top" />
        <div class="card-body">
          <h4 class="card-title my-0">{{ resource.title }}</h4>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

<div class="mt-5 text-end">
  <a href="{{ url_for('commerce_disclosure') }}">特定商取引法に基づく表記</a>
</div>

{% endblock %}
