{% extends "base.html" %}

{% block content %}

<h2>Software</h2>

<p class="indent-1">Open source projects which I developed or contributed to.</p>

{% for desc, repos in repositories.items() %}
<hr/>
<h3>{{ desc }}</h3>
<div class="row display-flex">
{% for repo in repos %}
<div class="col-md-4 gh-repo">
  <div class="panel panel-default">
    <div class="panel-body">
      <div>
        <a href="https://github.com/{{ repo.owner }}/{{ repo.name }}" target="_blank" class="text-bold">
          {{ repo.owner }}/{{ repo.name }}
        </a>
      </div>
      <div class="caption">
        <p class="text-small">
          {% if repo.description %}
          {{ repo.description }}
          {% endif %}
        </p>
        <div class="text-small">
          <ul class="list-inline" style="margin: 0;">
            <li>
              <i class="fa fa-circle" style="color: {{ colors[repo.language]['color'] }};"></i>
              {{ repo.language }}
            </li>
            <li>
              <a href="https://github.com/{{ repo.owner }}/{{ repo.name }}/stargazers" target="_blank">
                <i class="fa fa-star"></i>{{ repo.stargazers }}
              </a>
            </li>
            <li>
              <a href="https://github.com/{{ repo.owner }}/{{ repo.name }}/network" target="_blank">
                <i class="fa fa-code-fork"></i>{{ repo.forks }}
              </a>
            </li>
            <li>
              <a href="https://github.com/{{ repo.owner }}/{{ repo.name }}/commits?author=wkentaro" target="_blank">
                <i class="fa fa-code"></i>{{ repo._my_contributions }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endfor %}

{% endblock %}
