{% extends "base.html" %}

{% block content %}

<h2>Software</h2>

{% for desc, repos in repositories.items() %}
<h3>{{ desc }}</h3>
<div class="row display-flex">
{% for repo in repos %}
<div class="col-md-4 gh-repo">
  <div class="panel panel-default">
    <div class="panel-body">
      <div>
        <a href="https://github.com/{{ repo.owner }}/{{ repo.name }}" target="_blank" class="text-bold">
          {{ repo.owner }}/{{ repo.name }}
        </a>
      </div>
      <div class="caption">
        <p class="text-small">
          {{ repo.description }}
        </p>
        <div class="text-small">
          <div class="col-xs-3" style="padding: 0; margin-right: 10px;">
            <span style="color: {{ colors[repo.language]['color'] }};">●</span>
            {{ repo.language }}
          </div>
          <div class="col-xs-3" style="padding: 0;">
            <i class="fa fa-star"></i>{{ repo.stargazers }}
          </div>
          <div class="col-xs-3" style="padding: 0;">
            <i class="fa fa-code-fork"></i>{{ repo.forks }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endfor %}

{% endblock %}
