{% extends "base.html" %}

{% block content %}

<h2>Software</h2>

<p class="indent-1">Open source projects which I developed or contributed to.</p>

<script>
  function getLanguageColor(language) {
    var colors = {};
    {% for language, color in colors.items() %}
    colors['{{ language }}'] = "{{ color['color'] }}";
    {% endfor %}
    return colors[language];
  }
  function getMyContributions(owner, repo) {
    var url = 'https://api.github.com/repos/' + owner + '/' + repo + '/stats/contributors' +
      '?client_id=f9a6e6d514263c01e822&client_secret=4d62465ac90ced4b7976109e0db38ffbdaf4080a';
    $.ajax({
      url : url,
      type : 'GET',
      dataType : 'json',
      success : function(data) {
        var elem = $('#' + owner + '-' + repo);
        for (let datum of data) {
          if (datum['author']['login'] == 'wkentaro') {
            elem.find('.caption .my-contributions span.number').text(datum['total']);
            break;
          }
        }
      }
    });
  }
  function getRepositoryData(owner, repo) {
    var url = 'https://api.github.com/repos/' + owner + '/' + repo +
      '?client_id=f9a6e6d514263c01e822&client_secret=4d62465ac90ced4b7976109e0db38ffbdaf4080a';
    $.ajax({
      url : url,
      type : 'GET',
      dataType : 'json',
      success : function(data) {
        var elem = $('#' + owner + '-' + repo);
        if (data.description) {
          elem.find('.caption p:first').text(data.description);
        }
        elem.find('.caption .language span.name').text(data.language);
        elem.find('.caption .language i:first').attr('style', 'color: ' + getLanguageColor(data.language) + ';');
        elem.find('.caption .stargazers span.number').text(data.stargazers_count);
        elem.find('.caption .forks span.number').text(data.forks);
      }
    });
  }
  function getAllRepositoryData() {
    {% for desc, slugs in repositories.items() %}
    {% for slug in slugs %}
    {% set owner_repo = slug.split('/') %}
    getRepositoryData('{{ owner_repo[0] }}', '{{ owner_repo[1] }}');
    getMyContributions('{{ owner_repo[0] }}', '{{ owner_repo[1] }}');
    {% endfor %}
    {% endfor %}
  }
  {# to wait for loading Ajax. #}
  setTimeout(getAllRepositoryData, 100);
</script>

{% for desc, slugs in repositories.items() %}
<hr/>
<h3>{{ desc }}</h3>
<div class="row display-flex">
{% for slug in slugs %}
{% set owner, repo = slug.split('/') %}
<div class="col-md-4 gh-repo">
  <div class="panel panel-default" id="{{ owner + '-' + repo }}">
    <div class="panel-body">
      <div>
        <a href="https://github.com/{{ slug }}" target="_blank" class="text-bold">
          {{ slug }}
        </a>
      </div>
      <div class="caption">
        <p class="text-small"></p>
        <div class="text-small">
          <ul class="list-inline" style="margin: 0;">
            <li class="language">
              <i class="fa fa-circle"></i>
              <span class="name"></span>
            </li>
            <li class="stargazers">
              <a href="https://github.com/{{ slug }}/stargazers" target="_blank">
                <i class="fa fa-star"></i>
                <span class="number"></span>
              </a>
            </li>
            <li class="forks">
              <a href="https://github.com/{{ slug }}/network" target="_blank">
                <i class="fa fa-code-fork"></i>
                <span class="number"></span>
              </a>
            </li>
            <li class="my-contributions">
              <a href="https://github.com/{{ slug }}/commits?author=wkentaro" target="_blank">
                <i class="fa fa-code"></i>
                <span class="number"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endfor %}

{% endblock %}
